
/*css reset con font family*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*inserendo qui il list type none tolgo i pallini dalla lista*/
    list-style-type: none;

}

/*metto il titolo a fianco al logo facendo diventare h1 inline*/
h1{
    display: inline-block; /*fa diventare l'elemento inline*/
    font-size: 2.5rem;      /*dimensione del font*/
    text-align: center;
    padding-left: 5PX;
    vertical-align: middle; /*centra il titolo*/
}

    


/*Regolo header*/

header{
    background-color:  #f1f1f1;
    padding: 10px 0;   /*padding top e bottom 10px, padding right e left 0*/
    
    
}

/*Regolo immagine logo*/

img{
    padding-left: 10px;
    vertical-align: middle; /*centra l'immagine*/

}

/*posizione bottoni nella lista*/
.bottoni{
    text-align: left; /*allinea a sinistra*/
    padding-left: 10px; /*padding a sinistra del container */
    padding-top: 10px;

    
}

/*Divido i bottoni in 2 id, cosi da modificarli separatamente*/

#bottone-blu{
    background-color: #45AFED; /*colore bottone*/
    border-radius: 4px;
    padding: 4px 6px;
    border-style: none;
    color: white; /*colore testo*/
}

#bottone-grigio{
    background-color: #e0e0e0; /*colore bottone*/
    border-radius: 4px;
    padding: 4px 6px;
    border-style: none;
    color: white;     
    /*colore testo*/
    
}


/*con classe container porto centrale tutta la lista*/
.container{
    text-align: center;
    margin: 0 auto; /*centra la lista*/
    background-color: white;
    margin-top: 40px;
    border-radius: 10px;
    

}

/*da block a inline*/

h2{
    display: inline-block;
}


/*Ho creato un super container in modo da poter portare sulla sinistra la lista senza che toccasse "il bordo del pc" */
#supercontainer{

    width: 700px; /*larghezza del supercontainer*/
    margin: 0 auto; /*centra il supercontainer*/
    background-color: rgb(255, 255, 255); /*sfondo bianco, usato solo per capire la centratura del container*/
    ;
}

/*regolo la lista*/
.list{
    list-style-type: none; /*toglie i pallini*/
    padding: 10px 0; /*padding top e bottom 10px, padding right e left 0*/
    text-align: left; /*allinea a sinistra*/
    padding-left: 10px; /*padding a sinistra del container */
    padding-top: 10px;
    
}

/*regolo i singoli elementi della lista*/
.check{
   color: green;
   width: 20px;
   height: 20px;
    border-radius: 50%;

}
/*sistemo la scritta editorial nella lista*/
.blue{

    color: white;
    background-color: #45AFED;
    border-radius: 12px;
    padding: 4px 6px;
    border-style: none;
    ;

}

/*in questo modo gli elemnti sono piu distanziati e leggibili*/

li{
    margin: 8px 0; /*8px sopra sotto, destra sinistra 0*/
}
